*{
    font-family: 'Graphik';
}

nav{
    position: relative;
    z-index: 1;
}   
.nav-link{
    margin-right: 24px;
}
.nav-link span{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


/* EXTRA LARGE DEVICE */
@media (min-width: 1200px){
  .jumbotron{
    background-image: url(../img/jumbotron.png);
    height: 930px;
    background-size: cover;
    position: relative;
    margin-top: -112px;
  }
  .jumbotron .display{
    margin-top: 180px;
  }

  .features h1{
    font-size: 48px;
    font-weight: 400;
  }
  .features p{
    font-size: 28px;
    font-weight: 400;
  }

  .vector{
    margin-top: 80px;
  }
  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }

  .screen{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }

  .content__1 h2{
    font-size: 48px;
    font-weight: 400;
  }
  .content__1 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content__1 button{
    padding: 12px 20px;
  }

  .content__2{
    padding: 80px 0;
  }
  .hide__large{
    display: none;
  }
  .content__2 h3{
    font-size: 20px;
    font-weight: 700;
  }
  .content__2 h2{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .content__2 p{
    font-size: 18px;
    font-weight: 400;
  }
  .content__2 button{
    padding: 12px 20px;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 h2{
    font-size: 48px;
    font-weight: 400;
  }
  .content__3 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content__3 img{
    padding: 80px 0;
  }
  .content__3 button{
    padding: 12px 20px;
  }
  .content__3 .md-sm-img{
    display: none;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 80px;
  }
  .content__4 p{
    margin: 0;
  }
  .content__4 button{
    margin: 80px 0;
    padding: 12px 20px;
  }

  .content__5{
    background-color: #252B42;
    padding: 100px 0;
  }
  .desktop__5 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .desktop__5 h2{
    font-size: 28px;
    font-weight: 400;
  }
  .box__card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 48px;
  }
  .box__col{
    padding: 40px;
    align-items: flex-end;
  }
  .box__col h1{
    font-size: 20px;
    font-weight: 700;
  }
  .box__col h4{
    font-size: 16px;
    font-weight: 400;
  }
  .box__col p{
    font-size: 16px;
    font-weight: 400;
  }
  .dollar{
    padding: 30px 0;
  }
  .dollar__biru{
    padding: 30px 0;
  }

  .content__6{
    padding: 100px 0;
  }
  .desktop__6 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .desktop__6 p{
    font-size: 28px;
    font-weight: 400;
  }
  .left h3{
    font-size: 20px;
    font-weight: 700;
  }
  .right .bx__item p{
    font-size: 20px;
    font-weight: 400;
  }
  .bx__item{
    padding: 0 20px;
  }
  .form__content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .map{
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .content__7{
    background-color: #252B42;
    padding: 100px 0;
  }
  .content__7 h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .content__7 p{
    font-size: 16px;
    font-weight: 400;
  }
  .location .maplight p{
    padding-top: 20px;
  }
  .location .andro img{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
  }
  .location .andro p{
    padding-top: 20px;
  }
  .location .logo__bottom{
    padding-top: 20px;
    margin-left: -12px;
  }
}

/* LARGER DEVICE */
@media (min-width: 992px) and (max-width: 1119px){
  .jumbotron{
    background-image: url(../img/jumbotron.png);
    height: 930px;
    background-size: cover;
    position: relative;
    margin-top: -112px;
  }
  .jumbotron .display{
    margin-top: 180px;
  }
  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }
  .vector {
    padding: 80px 0;
  }

  .content__1{
    padding: 80px 0;
  }
  .content__1 h2{
    font-size: 40px;
    font-weight: 400;
  }
  .content__1 p{
    font-size: 20px;
    font-weight: 400;
  }
  .content__1 button{
    padding: 12px 20px;
  }

  .content__2{
    padding: 80px 0;
  }
  .hide__large{
    display: none;
  }
  .content__2 h3{
    font-size: 20px;
    font-weight: 700;
  }
  .content__2 h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .content__2 p{
    font-size: 16px;
    font-weight: 400;
  }
  .content__2 button{
    padding: 12px 20px;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 img{
    padding: 80px 0;
  }
  .content__3 button{
    padding: 12px 20px;
  }
  .content__3 .md-sm-img{
    display: none;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 40px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 80px;
  }
  .content__4 p{
    margin: 0;
  }
  .content__4 button{
    margin: 80px 0;
    padding: 12px 20px;
  }

  .content__5{
    background-color: #252B42;
    padding: 100px 0;
  }
  .desktop__5 h1{
    font-size: 40px;
    font-weight: 400;
  }
  .desktop__5 h2{
    font-size: 20px;
    font-weight: 400;
  }
  .box__card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 48px;
  }
  .box__col{
    padding: 40px;
    align-items: flex-end;
  }
  .box__col h1{
    font-size: 20px;
    font-weight: 700;
  }
  .box__col h4{
    font-size: 16px;
    font-weight: 400;
  }
  .box__col p{
    font-size: 16px;
    font-weight: 400;
  }
  .dollar{
    padding: 30px 0;
  }
  .dollar__biru{
    padding: 30px 0;
  }

  .content__6{
    padding: 100px 0;
  }
  .desktop__6 h1{
    font-size: 40px;
    font-weight: 400;
  }
  .desktop__6 p{
    font-size: 20px;
    font-weight: 400;
  }
  .left h3{
    font-size: 20px;
    font-weight: 700;
  }
  .right .bx__item p{
    font-size: 12px;
    font-weight: 400;
  }
  .bx__item{
    padding: 0 20px;
  }
  .form__content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .map{
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .content__7{
    background-color: #252B42;
    padding: 100px 0;
  }
  .content__7 h4{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .content__7 p{
    font-size: 12px;
    font-weight: 400;
  }
  .location .maplight p{
    padding-top: 20px;
  }
  .location .andro img{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
  }
  .location .andro p{
    padding-top: 20px;
  }
  .location .logo__bottom{
    padding-top: 20px;
    margin-left: -12px;
  }
}

/* MEDIUM DEVICE */
@media (min-width: 768px) and (max-width: 991px){
  .jumbotron{
    background-image: url(../img/jumbotron.png);
    height: 930px;
    background-size: cover;
    position: relative;
    margin-top: -112px;
  }
  .jumbotron .display{
    margin-top: 180px;
  }

  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }
  .vector {
    padding: 80px 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .content__1{
    text-align: center;
  }
  .content__1 button{
    margin: 40px 0;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 48px;
  }

  .content__2{
    text-align: center;
    display: flex;
    padding: 80px 0;
  }
  .content__2 img{
    padding: 80px 0;
  }
  .hide__large h3{
    font-size: 20px;
    font-weight: 700;
  }
  .hide__large h2{
    font-size: 48px;
    font-weight: 400;
  }
  .hide__small{
    display: none;
  }
  .click h3{
    font-size: 20px;
    font-weight: 700;
  }
  .click{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  .click button{
    padding: 16px 36px;
    font-size: 20px;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 .lg-img{
    display: none;
  }
  .content__3 button{
    padding: 16px 60px;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 80px;
  }
  .content__4 p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .content__4 button{
    margin: 80px 0;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 48px;
  }

  .content__5{
    background-color: #252B42;
    padding: 100px 0;
  }
  .desktop__5 h1{
    font-size: 40px;
    font-weight: 400;
  }
  .desktop__5 h2{
    font-size: 20px;
    font-weight: 400;
  }
  .box__card{
    padding: 48px;
    display: flex;
    flex-direction: column;
  }
  .box__col{
    border-radius: 20px;
    padding: 24px 0;
    margin: 48px;
  }
  .box__col h1{
    font-size: 20px;
    font-weight: 700;
  }
  .box__col h4{
    font-size: 16px;
    font-weight: 400;
  }
  .box__col p{
    font-size: 16px;
    font-weight: 400;
  }
  .box__card button{
    padding: 16px 72px;
    font-size: 20px;
  }
  .dollar{
    padding: 48px 148px;
  }
  .dollar__biru{
    padding: 48px 148px;
  }
}

/* SMALL DEVICE */
@media (max-width: 767px){
  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }
  .vector {
    padding: 80px 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .content__1{
    text-align: center;
  }
  .content__1 button{
    margin: 40px 0;
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 700;
  }

  .content__2{
    text-align: center;
    display: flex;
    padding: 80px 0;
  }
  .content__2 img{
    padding: 80px 0;
  }
  .hide__small{
    display: none;
  }
  .click h3{
    font-size: 20px;
    font-weight: 700;
  }
  .click{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  .click button{
    padding: 16px 36px;
    font-size: 20px;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 .lg-img{
    display: none;
  }
  .content__3 button{
    padding: 16px 60px;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 80px;
  }
  .content__4 p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .content__4 button{
    margin: 80px 0;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 48px;
  }

  .content__5{
    background-color: #252B42;
    padding: 100px 0;
  }
  .desktop__5 h1{
    font-size: 40px;
    font-weight: 400;
  }
  .desktop__5 h2{
    font-size: 20px;
    font-weight: 400;
  }
  .box__card{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .box__col{
    border-radius: 20px;
    padding: 24px 0;
    margin: 48px;
  }
  .box__col h1{
    font-size: 20px;
    font-weight: 700;
  }
  .box__col h4{
    font-size: 16px;
    font-weight: 400;
  }
  .box__col p{
    font-size: 16px;
    font-weight: 400;
  }
  .box__card button{
    padding: 8px 40px;
    font-size: 16px;
  }
  .dollar{
    padding: 16px 32px;
  }
  .dollar__biru h1{
    font-size: 60px;
    font-weight: 700;
  }
  .dollar__biru{
    padding: 16px 32px;
  }
}