*{
    font-family: 'Graphik';
}
.header-navbar{
  display: inline-block;
  width: 100%;
  padding: 16px 60px  ;
  /* background-color: grey; */
  position: relative;
  margin-bottom: -8px;
  z-index: 1;
}

.logo{
  float: left;
}
.logo img{
  margin-bottom: -20px;
  margin-top: -8px;
}

nav{
  float: right;
}

nav ul li{
  display: inline-block;
  padding: 8px 16px;
  margin-top: 16px;
}

nav ul li a:hover{
  color: tomato;
}

nav ul li a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
}

.toogle-btn{
  width: 36px;
  position: absolute;
  right: 60px;
  top: 32px;
  display: none;
  margin-top: 4px;
} 

.toogle-btn span{
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  float: left;
  margin-bottom: 4px;
}
.toogle-btn span:nth-child(2){
  width: 75%;
}
.toogle-btn span:nth-child(3){
  width: 50%;
}

/* EXTRA LARGE DEVICE */
@media (min-width: 1200px){
  .hero{
    width: 100%;
    position: relative;
  }
  .hero__background{
    width: 100%;
    height: 930px;
    margin-top: -120px;
  }
  .hero__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .hero__content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .hero__content h1{
    font-size: 74px;
    font-weight: 700;
  }
  .hero__content p{
    font-size: 28px;
    font-weight: 400;
  }
  .hero__content button{
    font-size: 20px;
    padding: 12px 28px;
    margin-top: 60px;
  }

  .features h1{
    font-size: 48px;
    font-weight: 400;
    margin-top: 180px;
  }
  .features p{
    font-size: 28px;
    font-weight: 400;
  }

  .vector{
    margin-top: 80px;
  }
  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }

  .screen{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }

  .content__1 h2{
    font-size: 48px;
    font-weight: 400;
  }
  .content__1 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content__1 button{
    padding: 12px 28px;
    font-size: 20px;
    font-weight: 700;
  }

  .content__2{
    padding: 80px 0;
  }
  .hide__large{
    display: none;
  }
  .content__2 h3{
    font-size: 20px;
    font-weight: 700;
  }
  .content__2 h2{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .content__2 p{
    font-size: 18px;
    font-weight: 400;
  }
  .content__2 button{
    padding: 12px 28px;
    font-size: 20px;
    font-weight: 700;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 h2{
    font-size: 48px;
    font-weight: 400;
  }
  .content__3 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content__3 img{
    padding: 80px 0;
  }
  .content__3 button{
    padding: 12px 28px;
    font-size: 20px;
    font-weight: 700;
  }
  .content__3 .md-sm-img{
    display: none;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 80px;
  }
  .content__4 button{
    margin: 80px 0;
    padding: 12px 28px;
    font-size: 20px;
    font-weight: 700;
  }
  .avatar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .content__4 p{
    margin: 0;
  }

  .pricing{
    background-color: #252B42;
  }
  .card-list h1{
    font-size: 20px;
    font-weight: 700;
  }
  .card-list h4{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list p{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list button{
    font-size: 20px;
    padding: 12px 48px;
  }
  .card-list{
    /* width: calc(100% + 32px); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    margin: 0 0 0 -32px;
  }
  .card-list__item{
    width: 100%;
    min-height: 100px;
    margin: 32px 0 0 32px;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px;
  }
  .card-list__item:nth-child(2){
    background-color: #2091f9;
    padding: 32px 12px;
  }
  .card-pricing{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
  }
  .card-pricing h1{
    font-size: 76px;
  }
  .card-pricing h2{
    font-size: 20px;
    font-weight: 700;
  }

  .content__8{
    padding: 100px 0;
  }
  .desktop__8 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .desktop__8 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content-form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 80px 0;
  }
  .content-form__right{
    display: flex;
    flex-direction: column;
  }
  .item{
    display: flex;
    flex-direction: row;
  }
  .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  .items:nth-child(3){
    margin-top: 8px;
  }
  .peta{
    display: flex;
    justify-content: center;
  }
  .sosmed{
    display: flex;
    justify-content: flex-start;
  }
  .content-form__left h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .content-form__left button{
    padding: 8px 40px;
    margin-top: 12px;
  }
  .content-form__left .form-grup{
    margin-top: 12px;
  }

  .content__7{
    background-color: #252B42;
    padding: 100px 0;
  }
  .content__7 h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .content__7 p{
    font-size: 16px;
    font-weight: 400;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
  }
  .location_map img{
    width: 40px;
    height: 32px;
    margin-left: -8px;
  }
  .location_map{
    display: flex;
    flex-direction: row;
  }
}

/* LARGER DEVICE */
@media (min-width: 992px) and (max-width: 1119px){
  nav ul li{
    padding: 4px 12px;
    margin-top: 20px;
    margin-right: -8px;
  }

  .hero{
    width: 100%;
    position: relative;
  }
  .hero__background{
    width: 100%;
    height: 930px;
    margin-top: -100px;
  }
  .hero__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .hero__content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .hero__content h1{
    font-size: 48px;
    font-weight: 700;
  }
  .hero__content p{
    font-size: 20px;
    font-weight: 400;
  }
  .hero__content button{
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 60px;
  }

  .features h1{
    font-size: 48px;
    font-weight: 400;
    margin-top: 100px;
  }
  .features p{
    font-size: 28px;
    font-weight: 400;
  }

  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }
  .vector {
    padding: 80px 0;
  }

  .content__1{
    padding: 80px 0;
  }
  .content__1 h2{
    font-size: 40px;
    font-weight: 400;
  }
  .content__1 p{
    font-size: 20px;
    font-weight: 400;
  }
  .content__1 button{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
  }

  .content__2{
    padding: 80px 0;
  }
  .hide__large{
    display: none;
  }
  .content__2 h3{
    font-size: 20px;
    font-weight: 700;
  }
  .content__2 h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .content__2 p{
    font-size: 16px;
    font-weight: 400;
  }
  .content__2 button{
    padding: 8px 20px;
    font-size: 16px;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 img{
    padding: 80px 0;
  }
  .content__3 button{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
  }
  .content__3 .md-sm-img{
    display: none;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 40px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 80px;
  }
  .content__4 button{
    margin: 80px 0;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
  }
  .avatar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .content__4 p{
    margin: 0;
  }

  .pricing{
    background-color: #252B42;
  }
  .card-list h1{
    font-size: 20px;
    font-weight: 700;
  }
  .card-list h4{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list p{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list button{
    font-size: 20px;
    padding: 12px 48px;
  }
  .card-list{
    /* width: calc(100% + 32px); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    margin: 0 0 0 -32px;
  }
  .card-list__item{
    width: 100%;
    min-height: 100px;
    margin: 32px 0 0 32px;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px;
  }
  .card-list__item:nth-child(2){
    background-color: #2091f9;
    padding: 32px 12px;
  }
  .card-pricing{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
  }
  .card-pricing h1{
    font-size: 76px;
  }
  .card-pricing h2{
    font-size: 20px;
    font-weight: 700;
  }

  .content__8{
    padding: 100px 0;
  }
  .desktop__8 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .desktop__8 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content-form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 80px 0;
  }
  .content-form__right{
    display: flex;
    flex-direction: column;
  }
  .item{
    display: flex;
    flex-direction: row;
  }
  .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 12px;
  }
  .items:nth-child(3){
    margin-top: 8px;
  }
  .peta{
    display: flex;
    justify-content: center;
  }
  .sosmed{
    display: flex;
    justify-content: flex-start;
  }
  .content-form__left h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .content-form__left button{
    padding: 8px 40px;
    margin-top: 12px;
  }
  .content-form__left .form-grup{
    margin-top: 12px;
  }

  .content__7{
    background-color: #252B42;
    padding: 100px 0;
  }
  .content__7 h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .content__7 p{
    font-size: 16px;
    font-weight: 400;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
  }
  .location_map img{
    width: 40px;
    height: 32px;
    margin-left: -8px;
  }
  .location_map{
    display: flex;
    flex-direction: row;
  }
}

/* MEDIUM DEVICE */
@media (min-width: 768px) and (max-width: 991px){
  nav ul li{
    padding: 4px 12px;
    margin-top: 20px;
    margin-right: -8px;
  }

  .hero{
    width: 100%;
    position: relative;
  }
  .hero__background{
    width: 100%;
    height: 930px;
    margin-top: -100px;
  }
  .hero__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .hero__content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .hero__content h1{
    font-size: 32px;
    font-weight: 700;
  }
  .hero__content p{
    font-size: 16px;
    font-weight: 400;
  }
  .hero__content button{
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 60px;
  }

  .features h1{
    font-size: 40px;
    font-weight: 400;
  }
  .features p{
    font-size: 20px;
    font-weight: 400;
  }

  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }
  .vector {
    padding: 80px 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .content__1{
    text-align: center;
  }
  .content__1 button{
    margin: 40px 0;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 48px;
  }

  .content__2{
    text-align: center;
    display: flex;
    padding: 80px 0;
  }
  .content__2 img{
    padding: 80px 0;
  }
  .hide__large h3{
    font-size: 20px;
    font-weight: 700;
  }
  .hide__large h2{
    font-size: 48px;
    font-weight: 400;
  }
  .hide__small{
    display: none;
  }
  .click h3{
    font-size: 20px;
    font-weight: 700;
  }
  .click{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  .click button{
    padding: 16px 36px;
    font-size: 20px;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 .lg-img{
    display: none;
  }
  .content__3 button{
    padding: 16px 60px;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 80px;
  }
  .content__4 p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .content__4 button{
    margin: 80px 0;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 48px;
  }
  .avatar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .pricing{
    background-color: #252B42;
  }
  .card-list h1{
    font-size: 20px;
    font-weight: 700;
  }
  .card-list h4{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list p{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list button{
    font-size: 16px;
    padding: 12px 40px;
  }
  .card-list{
    /* width: calc(100% + 32px); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    margin: 0 0 0 -32px;  
  }
  .card-list__item{
    width: 100%;
    min-height: 100px;
    margin: 32px 0 0 32px;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px;
  }
  .card-list__item:nth-child(2){
    background-color: #2091f9;
    padding: 32px 12px;
  }
  .card-pricing{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
  }
  .card-pricing h1{
    font-size: 48px;
  }
  .card-pricing h2{
    font-size: 20px;
    font-weight: 700;
  }

  .content__8{
    padding: 100px 0;
  }
  .desktop__8 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .desktop__8 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content-form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 80px 0;
  }
  .content-form__right{
    display: flex;
    flex-direction: column;
  }
  .item{
    display: flex;
    flex-direction: row;
  }
  .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 12px;
  }
  .items p{
    font-size: 12px;
  }
  .items:nth-child(3){
    margin-top: 8px;
  }
  .peta{
    display: flex;
    justify-content: center;
    margin-left: 12px;
  }
  .sosmed{
    display: flex;
    justify-content: flex-start;
  }
  .content-form__left h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .content-form__left button{
    padding: 8px 32px;
    margin-top: 12px;
  }
  .content-form__left .form-grup{
    margin-top: 12px;
  }

  .content__7{
    background-color: #252B42;
    padding: 100px 0;
  }
  .content__7 h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .content__7 p{
    font-size: 16px;
    font-weight: 400;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
  }
  .location_map img{
    width: 40px;
    height: 32px;
    margin-left: -8px;
  }
  .location_map{
    display: flex;
    flex-direction: row;
  }
}

/* SMALL DEVICE */
@media (max-width: 767px){
  .toogle-btn{
    display: block;
    margin-right: -32px;
  }

  nav{
    display: none;
    width: 100%;
    /* border: 1px solid #fff; */
    /* padding-top: 20px; */
    margin-top: 32px;
  }

  nav ul li{
    padding: 16px 0;
    width: 100%;
  }
  .logo img{
    margin-top: -16px;
    margin-left: -60px;
  }
  nav.show{
    display: flex;
    justify-content: center;
    margin-right: 20px;  
    text-align: center;
    /* align-items: center; */
  }

  .hero{
    width: 100%;
    position: relative;
  }
  .hero__background{
    width: 100%;
    height: 930px;
    margin-top: -530px;
  }
  .hero__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .hero__content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .hero__content h1{
    font-size: 32px;
    font-weight: 700;
  }
  .hero__content p{
    font-size: 12px;
    font-weight: 400;
  }
  .hero__content button{
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 60px;
  }

  .features h1{
    font-size: 40px;
    font-weight: 400;
  }
  .features p{
    font-size: 20px;
    font-weight: 400;
  }

  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }
  .vector {
    padding: 80px 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .content__1{
    text-align: center;
  }
  .content__1 button{
    margin: 40px 0;
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 700;
  }

  .content__2{
    text-align: center;
    display: flex;
    padding: 80px 0;
  }
  .content__2 img{
    padding: 80px 0;
  }
  .hide__small{
    display: none;
  }
  .click h3{
    font-size: 20px;
    font-weight: 700;
  }
  .click{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  .click button{
    padding: 16px 36px;
    font-size: 20px;
  }

  .content__3{
    padding: 80px 0;
  }
  .content__3 .lg-img{
    display: none;
  }
  .content__3 button{
    padding: 16px 60px;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0;
  }

  .content__4{
    padding: 80px 0;
  }
  .content__4 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    padding: 80px 0;
  }
  .content__4 h4{
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 80px;
  }
  .content__4 p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .content__4 button{
    margin: 80px 0;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 48px;
  }
  .avatar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .pricing{
    background-color: #252B42;
  }
  .card-list h1{
    font-size: 20px;
    font-weight: 700;
  }
  .card-list h4{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list p{
    font-size: 16px;
    font-weight: 400;
  }
  .card-list button{
    font-size: 16px;
    padding: 12px 40px;
  }
  .card-list{
    width: calc(80% + 32px);
    /* width: 80%; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    /* margin: 32px -32px; */
  }
  .card-list__item{
    width: 100%;
    min-height: 100px;
    margin: 32px;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px;
  }
  .card-list__item:nth-child(2){
    background-color: #2091f9;
    /* padding: 32px 12px; */
  }
  .card-pricing{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
  }
  .card-pricing h1{
    font-size: 76px;
  }
  .card-pricing h2{
    font-size: 20px;
    font-weight: 700;
  }

  .content__8{
    padding: 100px 0;
  }
  .desktop__8 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .desktop__8 p{
    font-size: 28px;
    font-weight: 400;
  }
  .content-form{
    display: flex;
    flex-direction: column;
    padding: 80px 0;
  }
  .content-form__right{
    display: flex;
    flex-direction: column-reverse;
  }
  .item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 0;
  }
  .items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
  }
  .items p{
    font-size: 16px;
    margin-left: 12px;
    margin-bottom: -4px;
  }
  .peta{
    display: none;
  }
  .sosmed{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .content-form__left{
    padding: 20px 0;
  }
  .content-form__left h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .content-form__left button{
    padding: 8px 32px;
    margin-top: 12px;
  }
  .content-form__left .form-grup{
    margin-top: 12px;
  }

  .content__7{
    background-color: #252B42;
    padding: 100px 0;
  }
  .content__7 h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .content__7 p{
    font-size: 16px;
    font-weight: 400;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-item{
    padding: 40px 0;
  }
  .location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
  }
  .location_map img{
    width: 40px;
    height: 32px;
    margin-left: -8px;
  }
  .location_map{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .location:nth-child(3){
    display: flex;
    justify-content: center;
  }
  .location p{
    margin-top: 12px;
  }
  .location_map p{
    margin-top: 16px;
  }
}