*{
    font-family: 'Graphik';
}

nav{
    position: relative;
    z-index: 1;
}   
.nav-link{
    margin-right: 24px;
}
.nav-link span{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


/* EXTRA LARGE DEVICE */
@media (min-width: 1200px){
  .jumbotron{
    background-image: url(../img/jumbotron.png);
    height: 930px;
    background-size: cover;
    position: relative;
    margin-top: -112px;
  }
  .jumbotron .display{
    margin-top: 180px;
  }

  .features h1{
    font-size: 48px;
    font-weight: 400;
  }
  .features p{
    font-size: 28px;
    font-weight: 400;
  }

  .vector{
    margin-top: 80px;
  }
  .vector .col img{
    width: 60px;
    height: 60px;
  }
  .vector h1{
    font-size: 20px;
    font-weight: 700;
  }
  .vector p{
    font-size: 18px;
    font-weight: 400;
  }

  .screen{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }
  .screen img{
    width: 100%;
    height: 373px;
  }

  .content__1 h2{
    font-size: 48px;
    font-weight: 400;
  }
  .content__1 p{
    font-size: 28px;
    font-weight: 400;
  }

  .content__2{
    margin-top: 80px;
  }
  .content__2 h3{
    font-size: 20px;
    font-weight: 700;
  }
  .content__2 h2{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .content__2 p{
    font-size: 18px;
    font-weight: 400;
  }

  .content__3{
    margin-top: 80px;
  }
  .content__3 h2{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .content__3 p{
    font-size: 18px;
    font-weight: 400;
  }
  .content__3 img{
    margin: 80px 0;
  }

  .content__4{
    margin: 100px 0;
  }
  .content__4 h1{
    font-size: 48px;
    font-weight: 400;
  }
  .content__4 .ibm img{
    margin: 80px 0;
  }
  .content__4 h4{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 80px;
  }
  .content__4 p{
    margin: 0;
  }
  .content__4 button{
    margin: 80px 0;
  }

  .content__5{
    background-color: #252B42;
    padding: 100px 0;
  }

}

/* LARGER DEVICE */
@media (min-width: 992px) and (max-width: 1119px){
  .jumbotron{
    background-image: url(../img/jumbotron.png);
    height: 930px;
    background-size: cover;
    position: relative;
    margin-top: -112px;
  }
  .jumbotron .display{
    margin-top: 180px;
  }
}

/* MEDIUM DEVICE */
@media (min-width: 768px) and (max-width: 991px){
  .jumbotron{
    background-image: url(../img/jumbotron.png);
    height: 930px;
    background-size: cover;
    position: relative;
    margin-top: -112px;
  }
  .jumbotron .display{
    margin-top: 180px;
  }
}

/* SMALL DEVICE */
@media (max-width: 767px){
    
}